form {
    position: relative; /* Ensure form positioning */
    z-index: 100;
}

button {
    position: relative; /* Ensures buttons stay above other elements */
    z-index: 101; /* Higher than the form */
}
.pdf-viewer {
    background-color: rgba(255, 0, 0, 0.2); /* Temporary for debugging */
    position: relative;
    z-index: 1;
}

.resume-heading {
   
    margin-top: 30px;
    margin-bottom: 30px;
}